<!--Include-Header-->
<%- include('../partials/header') %>

    <!--Body-->
    <div class="container">
        <div class="box-new-user" id="new-user">
            <div class="new-usr-btn">
                <a href="/" class="new-user-text">>> All Students </a>
            </div>
        </div>
        <div class="new-user">
            <div class="sing-up-heading">
                <h2 class="new__usr">Register new student</h2>
                <p class="sign-up-des">Use the below form to register a fresh-year student</p>
            </div>
            
            <!--Form Handelling-->

            <%- include('../partials/form') %>
        </div>
    </div>


    <!--Include-Footer-->
    <%- include('../partials/footer') %>